body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiAppBar-colorPrimary {
  color: #fff;
  background-color:  #2e6fc8 !important;
}

.MuiAppBar-root {
  height: 28px !important;
}

.mainHeader {
  padding: 10px 0px 10px 0px;
  font-weight: 500;
  font-size: 18px;
}

.boxWrapper {
  padding-bottom: 10px;
}

.boxHeader {
  background: #2e6fc8;
  color: white;
  padding: 10px 0px 10px 10px;
}

.MuiGrid-spacing-xs-3 {
  margin: 0px !important;
}

.MuiRadio-colorSecondary.Mui-checked {
  color: #4544a5 !important;
}

.MuiDropzoneArea-text {
    position: absolute;
    top: 80px;
    right: 50px;
}

.MuiDropzoneArea-icon {
    color: rgba(130, 130, 130, 0.87) !important;
    position: absolute !important;
    top: 55px;
    right: 148px;
}

.MuiButton-containedPrimary {
  color: #fff;
  background-color: #2e6ec8 !important;
  position: relative;
  right: -140px;
  top: -100px;
}

.chipPadding {
  margin: 5px;
}